<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav id = "Nav">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/academics">Academics</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/changliu89/">LinkedIn</a></li>
	        		<li><a href="https://scholar.google.com/citations?hl=en&user=hhm6ZzUAAAAJ&view_op=list_works&authuser=1&gmla=AJsN-F5fsyWp-NgFCZCr9HiLMrMG1dgWEoCS2JDLhaJwR3WYpZB2lAY0xZOaolofNxiG6chOSgCmciboCfReX5sRzC8jlEBFGLxgruhezjvAa0qFRCChHjE">Google Scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>